.body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.section-title {
  font-weight: 700;
  color: #212121;
}
/* -------------HEADER------------ */
.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid rgb(117, 117, 117, 0.5);
}
.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}
.contacts-item,
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-item:first-child {
  margin-left: 50px;
}

.contacts {
  display: flex;
}

/* .contacts-item:first-child {
  margin-left: 331px;
} */
.header {
  background-color: #ffffff;
}

/* LOGO */
.linklogo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* letter-spacing: 0.03em; */
}
.weblogo {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.studiologo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
}
.studiologo-white {
  color: #ffffff;
}
.weblogo-footer {
  color: #2196f3;
}
.menu {
  color: #000;
}
.menu-link {
  text-decoration: none;
  /* font-weight: 500; */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.contact-link {
  text-decoration: none;
  /* font-weight: 500; */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/* -------------------------------Main--------------------------------------- */
.container .header-box {
  text-align: center;

  padding: 200px 252px;
}
.header-box {
  background: #2f303a;
}

.header-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px 32px; */
}
.button:hover {
  cursor: pointer;
}
.button-order {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.central {
  background-color: #ffffff;
}
/* ------------------------------FEATURES-------------------------------- */

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 0px;
  padding: 94px 0;
}

.features-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 0px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  /* letter-spacing: 0.03em; */
  text-transform: uppercase;
  color: #212121;
}
.features-par {
  font-size: 14px;
  line-height: 1.71;
  /* letter-spacing: 0.03em; */
  color: #757575;
}
/* ====================================What we do================================= */

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}
.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.what-we-do-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 94px;
}

/* =================================OUR TEAM=============================== */
.our-team .container {
  background: #f5f4fa;
  padding: 94px 0px;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #000;
  margin-bottom: 50px;
  text-align: center;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 0px;
}
.our-team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-content {
  padding: 30px;
}

.our-team-name {
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 1.18;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.our-team-job {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  text-align: center;
}
/* ========================FOOTER======================================= */
.footer {
  background: #2f303a;
}
.footer .container {
  padding: 60px 0px;
}
.linklogo {
  display: block;
  padding-bottom: 10px;
}
.adress {
  font-size: 14px;
  line-height: 1.71;
}
.adress-item {
  padding-bottom: 9px;
}
.adress-p {
  color: #ffffff;
}
.adress-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
/* ======================================PORTFOLIO============================ */
.filters-list {
  display: flex;
  justify-content: center;
}
.filters-item {
  padding-top: 94px;
  padding-bottom: 34px;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 8px 22px;
}
.filters-button:hover {
  cursor: pointer;
}
/* ==========================PORTFOLIO========================= */
.portfolio-projects {
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 30px;
}
.portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #000;
}
.portfolio-desk {
  font-size: 16px;
  line-height: 1.87;
}
.img-portfolio {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
